.carousel {
  position: relative;
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.carousel .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 28px;
}
.carousel-content{
  /* width:100%; */
}
.carousel-content.image-carousel-content .carousel-item {
    display: none;
    height: 500px;
}
.carousel-content .carousel-item {
    display: none;
    visibility: hidden;
    height: 300px;
}

.carousel-item h3, p {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0 1rem;
}
.carousel-item p {
  height: 200px;
  overflow: auto;
}
.carousel-content .carousel-item.active {
    display: block;
    visibility: visible;
    -webkit-transition:visibility 1.0s ease-in-out;
    -moz-transition:visibility 1.0s ease-in-out;
    -o-transition:visibility 1.0s ease-in-out;
    transition:visibility 1.0s ease-in-out;
}
.carousel-item img{
  width:100%;
  height: 100%;
}
.arrow{
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  cursor: pointer;
}
.carousel.textual .arrow{
  width:20px;
  height:20px;
}
.arrow-left {
  border-top: 2px solid rgba(169,3,41,1);
  border-left: 2px solid rgba(169,3,41,1);
  transform: rotate(-54deg) skew(-20deg);
  left: 20px;
}
.arrow-right{
  border-top: 2px solid rgba(169,3,41,1);
  border-right: 2px solid rgba(169,3,41,1);
  transform: rotate(54deg) skew(20deg);
  right: 20px;
}
.carousel.textual .arrow-left{
  left: 10px;
}
.carousel.textual .arrow-right{
  right: 10px;
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  left: 50%;

  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #005eb3;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
li.active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #005eb3;
}
.nav-with-numbers li {
  width: 23px;
  height: 23px;
  margin: 1px;
  text-indent: 0;
  line-height: 1.4em;
}
.nav-with-numbers li.active {
  width: 23px;
  height: 23px;
  color: #ffffff;
}
.nav-without-circle li {
  width: 23px;
  height: 23px;
  margin: 1px;
  text-indent: 0;
  border:none;
  border-radius: 0;
  background-color: none;
  line-height: 1.4em;
}
.nav-without-circle li.active {
    width: 23px;
    height: 23px;
    color: #ffffff;
    background-color: transparent;
    color: #005eb3;
}
