.carousel {
  position: relative;
  overflow: hidden;
  /* display: block; */
}
*, *::before, *::after {
  box-sizing: border-box;
}
.carousel .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 28px;
}
.carousel-content{
  position: relative;
  overflow: hidden;
  width:100%;
}
.carousel-content .carousel-item {
      display: none;
      /* position: relative;
      transition: all 1s ease-in-out ;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out; */
      position: relative;
      left: -100%;
      width:100%;
      -webkit-animation: slide 0.3s forwards;
      animation: slide 0.3s forwards;
      height: 600px;
  }
.carousel-content .carousel-item.active {
    display: block;
}
.carousel-item img{
  width:100%;
  height: 100%;
}
.arrow{
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  cursor: pointer;
}
.arrow-left {
  border-top: 2px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  transform: rotate(-54deg) skew(-20deg);
  left: 20px;
}
.arrow-right{
  border-top: 2px solid #a9a9a9;
    border-right: 2px solid #a9a9a9;
    transform: rotate(54deg) skew(20deg);
    right: 20px;
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #005eb3;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
li.active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #005eb3;
}
.nav-with-numbers li {
  width: 23px;
  height: 23px;
  margin: 1px;
  text-indent: 0;
  line-height: 1.4em;
}
.nav-with-numbers li.active {
  width: 23px;
  height: 23px;
  color: #ffffff;
}
.nav-without-circle li {
  width: 23px;
  height: 23px;
  margin: 1px;
  text-indent: 0;
  border:none;
  border-radius: 0;
  background-color: none;
  line-height: 1.4em;
}
.nav-without-circle li.active {
    width: 23px;
    height: 23px;
    color: #ffffff;
    background-color: transparent;
    color: #005eb3;
}
.carousel {
  position: relative;
  overflow: hidden;
  /* display: block; */
}

.carousel-content {
  position: relative;
  overflow: hidden;
}

.carousel-content::after, .carousel-content::before {
  content: '';
  display: table;
  clear: both;
}

.carousel-item {
  /* display: none; */
}

.carousel-item.active {
  display: block;
}

/* .wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */

/* #slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}*/

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
