<div class="carousel-example">
{{image-carousel
	imageSlider=imageSlider
	class="carousel"
}}
{{textual-carousel
	textualSlider=textualSlider
	class="carousel"
}}

{{textual-carousel-rounded-numbers
	textualSlider=textualSlider1
	class="carousel"
}}
{{textual-carousel-with-numbers
	textualSlider=textualSlider2
	class="carousel"
}}
</div>
